.idea/

clio
node*.txt
walletkey.ini

bin/cleos.sh
bin/clio
bin/fio-wallet
bin/nodeos
bin/baseContracts/fio.contracts

scripts/launch/history/container/Dockerfile
scripts/launch/history/container/bin/*
scripts/launch/history/container/etc/*

scripts/launch/producers/container/Dockerfile
scripts/launch/producers/container/bin/*
scripts/launch/producers/container/etc/*
